.timeline {
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  width: 1000px;
  box-sizing: border-box;
}
.timeline:before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #c5c5c5;
}
.timeline ul {
  padding: 0;
  margin: 0;
}
.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}
.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}
.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}
.content {
  padding-bottom: 20px;
}
.timeline ul li:nth-child(odd):before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 24px;
  right: -6px;
  background: #132d47;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}
.timeline ul li:nth-child(even):before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 24px;
  left: -4px;
  background: #132d47;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}
.timeline ul li h3 {
  padding: 0;
  margin: 0;
  color: #132d47;
  font-weight: 600;
  /* font-family: "Atyp"; */
  font-style: normal;
  font-weight: 135;
  font-size: 20px;
  line-height: 24px;
}
.timeline ul li p {
  margin: 10px 0 0;
  padding: 0;
  color: #132d47;
  font-family: "Duplet";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.timeline ul li .time h4 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.timeline ul li:nth-child(odd) .time {
  position: absolute;
  top: 12px;
  right: -165px;
  margin: 0;
  padding: 8px 16px;
  /* background: rgba(233, 33, 99, 1); */
  color: #132d47;
  /* border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3); */
}
.timeline ul li:nth-child(even) .time {
  position: absolute;
  top: 12px;
  left: -165px;
  margin: 0;
  padding: 8px 16px;
  color: #132d47;
  /* background: rgba(233, 33, 99, 1); */
  /* border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3); */
}
@media (max-width: 1000px) {
  .timeline {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .timeline {
    width: 100%;
    padding-bottom: 0;
  }
  .timeline:before {
    left: 20px;
    height: 100%;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even) {
    width: 100%;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 50px;
  }
  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before {
    top: -18px;
    left: 16px;
  }
  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time {
    top: -30px;
    left: 50px;
    right: inherit;
  }
}

/* grid system */
.g-temp-cont {
  display: grid;
  grid-template-columns: 117px auto auto auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "box1 box1 box1 box1 box1 box1" 
  "box2 box3 box3 box3 box3 box3"
  "box2 box4 box4 box4 box4 box4"
  "box5 box5 box5 box5 box5 box5";
  gap: 16px;
}


/* Clip Path */
.clip-path-box {
  clip-path: path("M592 121C592 133.703 602.297 144 615 144H1241C1253.7 144 1264 154.297 1264 167V304C1264 316.703 1253.7 327 1241 327H23C10.2975 327 0 316.703 0 304V23C0 10.2975 10.2975 0 23 0H569C581.703 0 592 10.2975 592 23V121Z");
}