@import "tailwindcss";

@plugin "tailwindcss-animate";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* @import "tailwindcss/base"; */

body {
  padding: revert; /* restores browser default */
  background-color: #81de761a;
}

/* @import "tailwindcss/components";
@import "tailwindcss/utilities"; */

/* @font-face {
  font-family: 'Duplet';
  src: url('/assets/fonts/Duplet-Regular-BF642a340663b06.otf') format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp';
  src: url('/assets/fonts/AtypKidoTRIAL-Regular-BF657271256f9eb.otf') format('otf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
} */

/* Fallback custom classes */
.text-primary-dark {
  color: #132d47 !important;
}

.bg-primary-dark {
  background-color: #132d47 !important;
}

.border-primary-dark {
  border-color: #132d47 !important;
}

.bg-primary-light {
  background-color: #81de76 !important;
}

.font-body {
  /* font-family: 'Duplet', sans-serif !important; */
}

/* .text-bodyRegular {
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
} */

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Smooth transitions */
* {
  transition: opacity 0.8s ease-in-out;
}

/* .method-1 {
  box-shadow: 0 3px 0 0 #132d47;
  position: relative;
}

.method-1:before {
  box-shadow: 0 3px 0 0 transparent;
} */

.method-1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(129, 222, 118, 0) 0%,
    #132d4763 50%,
    rgba(129, 222, 118, 0) 100%
  );
  /* border-radius: 5px 0 0 5px; */
}

.method-1::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(129, 222, 118, 0) 0%,
    #132d4763 50%,
    rgba(129, 222, 118, 0) 100%
  );
  /* border-radius: 0 0 5px 5px; */
}

.method-2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(129, 222, 118, 0) 0%,
    #132d4763 50%,
    rgba(129, 222, 118, 0) 100%
  );
  /* border-radius: 4px 0 0 4px; */
}

.method-2::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    180deg,
    rgba(129, 222, 118, 0) 0%,
    #132d4763 50%,
    rgba(129, 222, 118, 0) 100%
  );
  /* border-radius: 0 0 5px 5px; */
}

.method-3::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(129, 222, 118, 0) 0%,
    #132d4763 50%,
    rgba(129, 222, 118, 0) 100%
  );
  /* border-radius: 0 0 5px 5px; */
}

.method-3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(129, 222, 118, 0) 0%,
    #132d4763 50%,
    rgba(129, 222, 118, 0) 100%
  );
}

@media (width >= 64rem /* 1024px */) {
  .method-2::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #f2fcf1;
    /* border-radius: 0 0 5px 5px; */
  }

  .method-3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    background: #ffffff07;
  }
  /* border-radius: 0 0 5px 5px; */
  /* right: 0; */
}

.parent-container:has(#feature1:hover) #feature2,
.parent-container:has(#feature1:hover) #feature3 {
  opacity: 0.9;
  filter: blur(1.5px);
}

.parent-container:has(#feature2:hover) #feature1,
.parent-container:has(#feature2:hover) #feature3 {
  opacity: 0.9;
  filter: blur(1.5px);
}

.parent-container:has(#feature3:hover) #feature1,
.parent-container:has(#feature3:hover) #feature2 {
  opacity: 0.9;
  filter: blur(1.5px);
}

.semisSw ul {
  list-style-type: none;
}

.semisSw ul li {
  position: relative;
  padding-left: 24px;
}

.semisSw ul li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 7;
  /* transform: translateY(-50%); */
  width: 14px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none' viewBox='0 0 14 14'%3E%3Cpath stroke='%23132D47' d='M6.123 1.646a1 1 0 0 1 1.754 0l1.302 2.38a2 2 0 0 0 .795.795l2.38 1.302a1 1 0 0 1 0 1.754l-2.38 1.302a2 2 0 0 0-.795.795l-1.302 2.38a1 1 0 0 1-1.754 0l-1.302-2.38a2 2 0 0 0-.795-.795l-2.38-1.302a1 1 0 0 1 0-1.754l2.38-1.302a2 2 0 0 0 .795-.795z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.clipper {
  clip-path: path("M298 238C298 251.255 287.255 262 274 262H24C10.7452 262 0 251.255 0 238V87.9365C0 74.6817 10.7452 63.9365 24 63.9365H39.9072C53.1621 63.9365 63.9072 53.1914 63.9072 39.9365V24C63.9072 10.7452 74.6524 0 87.9072 0H274C287.255 0 298 10.7452 298 24V238Z");
}

@media (width >= 64rem) {
  .clipper {
    clip-path: path("M429 329c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V138c0-25.405 20.595-46 46-46s46-20.595 46-46 20.595-46 46-46h243c26.51 0 48 21.49 48 48z");
  }

}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #132d47;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: #81de76;
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: #132d47;
  --primary-foreground: oklch(0.205 0 0);
  --secondary: #81de76;
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}